body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.author {
    color: blue;
}

.panel {
    margin: 10pt;
    padding: 10pt;
    background-color: #f0f0f0;
}

    .panel .message-panel {
        padding: 10pt;
        background-color: #e0e0e0;
    }